h1,p,div{
    color: white;
}

h1{
    font-size: 4rem;
}

p{
    font-size: 2rem;
}

button{
    text-align:left;
    text-indent: 40px;  
}

.head1 {
    width:450px;
    float:left;
    background-color:rgba(0,0, 0, 0.9);
    font-size: 30px;
    margin: 20px;
    border-radius: 15px;
    line-height: 25px;
    height: 500px;
  }

.head1:hover{
   border-color: green;
  }
